fastapi
uvicorn
pydantic
python-dotenv
torch
numpy
pandas
scikit-learn
joblib
pytest
pytest-cov
alembic
openai
python-multipart
sqlalchemy

textblob
httpx
orjson
python-dateutil
fastapi-cors
loguru
vaderSentiment
pytest
pytest-asyncio